@import "tachyons";

.grid-container {
  display: grid;
  grid-template-columns: 35% 65%;
}

.grid-container > div {
  padding-left: 10px;
  padding-right: 10px;
}

.done {
  color: #0000ee !important;
}
